body {
  background-size: cover;
  background-image: url("sea-bg.jpg");
  background-repeat: no-repeat;
  }
.h1Center {
  font-family: Courier;
  text-align: center;
  color: #ffffff;
}
.pCenter {
  font-family: Arial;
  text-align: center;
  color: #ffffff;
}
